<div class="banner"
     style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= @garden.banner_url %>')">
  <h1><%= @garden.name %></h1>
</div>

<!-- MY PLANTS -->
<div class="container">
  <div class="row">
    <% @garden.plants.each do |plant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= plant.image_url %>');">
          <div class="card-description">
            <h2><%= plant.name %></h2>
          </div>
          <%= link_to "+",
            plant_path(plant),
            method: :delete, data: { confirm: "Are you sure?" },
            class: "card-remove-link"
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- MY SIMPLE FORM -->
<div class="container" id="form-container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h4>Add a plant:</h4>
      <!--
        In the GardensController, inside the show action, we set @garden and
        @plant.

        As @plant is an instance of Plant but does not have an id yet,
        simple_form knows it will have to post the form content to the
        create action of the PlantsController!
      -->

      <!--
        Let's inspect your form in the browser to check its action attribute and
        its method attribute to see how simple_form is clever ;) -->

      <%= simple_form_for([ @garden, @plant ]) do |f| %>
        <%= f.input :name, class: "form-input", placeholder: "Palm tree" %>
        <%= f.input :image_url,
          placeholder: "https://some_nice_image_found_on_google.jpg"
        %>
        <%= f.submit "Add", id: "submit-btn", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to gardens_path, id: "back-to-gardens" do %>
  <i class="fas fa-backward"></i> Back to gardens
<% end %>

